// ----------------------------------------------
// Variables
// ----------------------------------------------



// Colours
// ----------------------------------------------

// Grays
// ---------------------
@black:				#000;
@grayDark:			#333;
@white:				#fff;



// Scaffolding
// ----------------------------------------------
@bodyBackground:	@white;
@textColour:		@grayDark;



// Typography
// ----------------------------------------------
@sansFontFamily:	"Helvetica Neue", Helvetica, Arial, sans-serif;

@baseFontFamily:	@sansFontFamily;
@baseFontSize:		1.4em; // 14px
@baseLineHeight:	2em; // 20px
